.blue-button {
    font-weight: 400;
    font-size: 14px;
    color: white;
    background: rgb(59, 130, 246);
    border-radius: 5px;
    padding: 9px 57px;
    display: inline-block;
    text-align: center;
    position: relative;

    &:hover {
        text-decoration: none;
    }
}
.blue-button svg {
    position: absolute;
    top: 10px;
    left: 30px;
}