.blue-button {
    font-weight: 400;
    font-size: 14px;
    color: white;
    background: #1a8fdd;
    border-radius: 5px;
    padding: 9px 57px;
    display: inline-block;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}
